<a href="https://colab.research.google.com/github/abigailsleek/Article-Recommender/blob/master/anothermodelmodified_1%5B1%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/58/ac/a3e86e5df84b818f69ebb8c89f282efe6a15d3ad63a769314cdd00bccbbb/mysql_connector_python-8.0.17-cp36-cp36m-manylinux1_x86_64.whl (13.1MB)
     |████████████████████████████████| 13.1MB 26kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.7.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (41.2.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.17

In [5]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
import nltk
import sys
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import pickle
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
#his code is on this cell
def keywords():
    ''' function that recieves title and return the keywords ''' 
    import sklearn
    from sklearn.feature_extraction.text import TfidfVectorizer
    
    mydb = mysql.connector.connect(host="remotemysql.com",
                              user="8SawWhnha4",
                              passwd="zFvOBIqbIz",
                              database="8SawWhnha4")

    engine = create_engine('mysql+mysqlconnector://8SawWhnha4:zFvOBIqbIz@remotemysql.com/8SawWhnha4')
    
    df = pd.read_sql_query('select title from posts where id>20 LiMIT 5', engine)
    
    df['title'] = df['title'].replace({"'ll": " "}, regex=True)
    keywords_list = []
    tfidf = TfidfVectorizer(stop_words='english')
    art_title= [df.iat[i,0] for i  in range(len(df))]
    t_matrix = tfidf.fit_transform(art_title)

    # for i in range(len(df)):
    #     # turn input to list to be analysed
    #     art_title = [df.iat[i,0]]

    #     # #Remove all english stop words such as 'the', 'a'

    #     # #Construct the required TF-IDF matrix by fitting and transforming the data
    #     tfidf.fit_transform(art_title)

    #     # return an array of keywords from the title
    #     keywords_list.append(tfidf.get_feature_names())

    # return keywords_list
    return df, t_matrix

# call function
keywords()

(                                               title
 0                                 What I done so far
 1                          Learnt Learn and Learning
 2                Learning Web development at StartNg
 3  The Journey with StartNG: Creating my CV with ...
 4                What i have done so far on start.ng,
 <5x14 sparse matrix of type '<class 'numpy.float64'>'
 	with 17 stored elements in Compressed Sparse Row format>)

In [6]:
#building a model on this cell
# Create a KMeans object with 5 clusters and save as K_M
MODEL = KMeans(n_clusters=5,init='k-means++', n_init=10, max_iter=300,random_state=None)
#unpack the dataframe and matrix
df, tfidf_matrix = keywords()
# Fit the k-means object with tfidf_matrix
MODEL.fit(tfidf_matrix)

CLUSTERS = MODEL.labels_.tolist()

# Create a column cluster to denote the generated cluster for each article
df["CLUSTER"] = CLUSTERS

# Display number of articles  per cluster (clusters from 0 to 4)
df['CLUSTER'].value_counts()

4    1
3    1
2    1
1    1
0    1
Name: CLUSTER, dtype: int64

In [0]:
#to save this model 
FILE_NAME ='built_model.sav'
pickle.dump(MODEL, open(FILE_NAME, 'wb'))

In [0]:
#to load saved model later
#with open  pickle.load(open(FILE_NAME, 'rb')) fid