<a href="https://colab.research.google.com/github/abigailsleek/Article-Recommender/blob/master/newmodel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/58/ac/a3e86e5df84b818f69ebb8c89f282efe6a15d3ad63a769314cdd00bccbbb/mysql_connector_python-8.0.17-cp36-cp36m-manylinux1_x86_64.whl (13.1MB)
     |████████████████████████████████| 13.1MB 64.9MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (41.2.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.17

In [0]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
import nltk
from nltk.stem.snowball import SnowballStemmer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import pickle
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
mydb = mysql.connector.connect(host="remotemysql.com",
                              user="8SawWhnha4",
                              passwd="zFvOBIqbIz",
                              database="8SawWhnha4")

engine = create_engine('mysql+mysqlconnector://8SawWhnha4:zFvOBIqbIz@remotemysql.com/8SawWhnha4')

In [0]:
POSTS = pd.read_sql_query('select * from posts', engine)
POSTS.head()

   id  user_id                              title  ... status_id action post_id
0   1     2077  What i have learnt so far on HTML  ...      None   None    None
1   2     1719                   HTML BEGINS HERE  ...      None   None    None
2   4     1310            My Laziness In The Open  ...      None   None    None
3   6     1787                          MY TASK 2  ...      None   None    None
4   7      167                             Task 2  ...      None   None    None

[5 rows x 12 columns]

In [0]:
POSTS['title'] = POSTS['title'].astype(str) +"\n"

In [0]:
SENT_TOKENIZED =  [sent for sent in nltk.sent_tokenize("""
                         What i have learnt so far on HTML.""")]

In [0]:
WORD_TOKENIZED = [word for word in nltk.word_tokenize(SENT_TOKENIZED[0])]
FILTERED = [word for word in WORD_TOKENIZED if re.search('[a-zA-Z]', word)]

In [0]:
#FILTERED 
STEMMER = SnowballStemmer("english")
STEMMED_WORDS = [STEMMER.stem(word) for word in FILTERED]
print("After stemming:   ", STEMMED_WORDS)

After stemming:    ['what', 'i', 'have', 'learnt', 'so', 'far', 'on', 'html']

In [0]:
def tokenize_plus_stem(text):
    tokens = [y for x in nltk.sent_tokenize(text) for y in nltk.word_tokenize(x)]
    filtered_tokens = [token for token in tokens if re.search('[a-zA-Z]', token)]
    stems = [STEMMER.stem(word) for word in filtered_tokens]
    return stems
WORDS_STEMMED = tokenize_plus_stem
(" What i have learnt so far on HTML.")
print(WORDS_STEMMED)

<function tokenize_plus_stem at 0x7fc7b9f027b8>

In [0]:
TFIDF_MYOBJECT = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, tokenizer=tokenize_plus_stem,
                                 ngram_range=(1, 3))
TFIDF_MATRIX = TFIDF_MYOBJECT.fit_transform([x for x in POSTS["title"]])
print(TFIDF_MATRIX.shape)

(876, 2)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [0]:

# Create a KMeans object with 5 clusters and save as K_M
K_M = KMeans(n_clusters=5)

# Fit the k-means object with tfidf_matrix
K_M.fit(TFIDF_MATRIX)

CLUSTERS = K_M.labels_.tolist()

# Create a column cluster to denote the generated cluster for each article
POSTS["CLUSTER"] = CLUSTERS

# Display number of articles  per cluster (clusters from 0 to 4)
POSTS['CLUSTER'].value_counts()

/usr/local/lib/python3.6/dist-packages/sklearn/cluster/k_means_.py:972: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  return_n_iter=True)

1    502
2    181
0    173
3     20
Name: CLUSTER, dtype: int64

In [0]:
#measuring distance
DIS_SIM = 1 - cosine_similarity(TFIDF_MATRIX)